<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="3e6be8fa-a3ed-447c-8e2b-4d9533053375" Publisher="CN=Moritz" Version="1.1.5628.1" />
  <Properties>
    <DisplayName>winHAB</DisplayName>
    <PublisherDisplayName>Moritz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="winHAB.App">
      <m2:VisualElements DisplayName="winHAB" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="winHAB" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m2:DefaultTile ShortName="winHAB" DefaultSize="square150x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="videosLibrary" />
    <Capability Name="removableStorage" />
  </Capabilities>
</Package>